@media screen and (min-width: 320px) {
    
header{
    height: 100svh;
    width: 100%;
}

header> nav{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: sticky;
    top: 0px;
    left: 0px;
}

header .logo-container{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag {
    font-size: 24px; 
    margin-right: 10px;
    border: none; 
    background-color: transparent; 
    cursor: pointer;
}

.container {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 3px 4px;
    margin-right: 10px;
}

#locationContainer {
    order: 2; /* Change the order to move it to the right */
}

#currencyContainers{
    display: flex;
}
.logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.navigation{
    width: 60%;
}
.navigation ul{
    display: flex;
    justify-content: space-evenly;
}

#menu-toggler, #menu, .menu-toggler-label{
    display: none;
}

#hero{
    height: calc(100svh - 8rem);
    width: 100%;
    padding-left: 5em;
    display: flex;
    align-items: center;
}

#hero h1{
    font-size: 3em;
    margin-bottom: 2rem;
}

#hero button{
    border-radius: .75rem;
    width: 15rem;
    font-size: 1.35em;
    padding: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
}

section{
    padding-left: 10rem;
    padding-right: 10rem;
    height: 80svh;
}

.section-heading-red{
    font-size: 2.6em;
}

#first-section{
    display: flex;
    align-items: center;
    width: 100%;
}

#first-section div{
    width: 50%;
}

.first-section-last-div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dummy-img-1{
    width: 80%;
    border-radius: 1.75rem;
    height: 60%;
}

#second-section{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70svh;
    padding-left: 10em;
    padding-right: 10em;
}

#second-section > div{
    width: 50%;
    height: 100%;
    
}
.centralize{
    width: 100%;
    display: flex;
    gap:2rem
} 
#second-section > div > div div{
    border-radius: 1.4em;
    height: 7rem;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#second-section > div > div div span{
    width: 100%;
}

.second-section-first-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    gap: 1.75rem;
    flex-direction: column;
}

.stat-box{
    text-align: center;
}

.second-section-second-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding-left: 4em;
    padding-right: 4em;
    text-align: right;
    font-weight: 300;
}

#third-section{
    margin-top: 5em;
}

#third-section h2{
    text-align: center;
}

.description-box{
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25%;
    font-size: x-small;
    padding-left: .5rem;
    padding-right: .5rem;
}
.description-box > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.description-box h4{
    font-size: 12pt;

}
.description-box-icon{
    height: 6rem;
    width: 6rem;
}
.description-box-holder{
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
}

#forth-section{
    height: fit-content;
}
#forth-section h2{
    text-align: center;
}
#forth-section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#forth-section > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#forth-section > div div img{
    height: 20rem;
    width: 100%;
}

#forth-section > div > div > div{
    width: 100%;
}
#forth-section > div > div > p{
    font-size: small;
}

#fifth-section {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10rem;
    min-height: 65svh;
}

#fifth-section > div{
    width: calc(50% - 2rem);
}

.contact-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-box-container{
    width: 100%;
}

#map{
    height: 50svh;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#sixth-section{
    padding: 0px;
}
#sixth-section h2{
    margin-left: 10rem;
}

footer{
    height: 55svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

footer > div{
    width: 18%;
    height: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}
footer > div p{
    margin-top: .5rem;
}
footer > div h5{
    font-size: 13pt
}

.social-links{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2.5rem;
}
.social-icon{
    height: 2rem;
    width: 2rem;
}

footer > div ul{
    margin-top: 1rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.recent-posts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2.5rem;
}
.recent-posts h5{
    text-align: center;
}
.footer-news{
    font-size: 8pt;
}


#send-mail{
    display: flex;
    border-radius: 1.5rem;
    overflow: hidden;
    height: 2rem;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#send-mail input[type="email"]{
    width: 80%;
}
#send-mail input[type="image"]{
    width: 3.5rem;
}

#send-mail ~ p{
    font-size: 9pt;
}

}

.d-none{
    display: none;
}